BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
ForEachMacros: [UB_LIST_FOR_EACH, UB_LIST_FOR_EACH_SAFE]
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveMacros: AcrossComments
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
IndentCaseLabels: true
